# Python DS
numpy
pandas
scikit-learn
dill
requests
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
wheel
certifi
chardet
colorama
Flask-WTF
future
gunicorn
h2o
python-dateutil
pytz
six
tabulate
urllib3
WTForms
pickle5
nltk
emoji
IPython
tqdm
pymorphy2